---
layout: default
---
{% if page.permalink == '/project/' %}
<style type="text/css">
  .container.mt-5 { max-width: 1400px !important; }
</style>
{% endif %}
{% if page._styles %}
<style type="text/css">
  {{ page._styles }}
</style>
{% endif %}

<div class="post">
  <header class="post-header">
    <h1 class="post-title" style="font-size: 2rem; font-weight: 600; text-decoration: underline;">{{ page.title }}</h1>
    <p class="post-description">{{ page.description }}</p>
  </header>

  <article>
    {{ content }}
  </article>

  {% if page.related_publications %}
    <h2>References</h2>
    <div class="publications">
      {% bibliography --cited_in_order %}
    </div>
  {% endif %}

  {% if site.giscus and page.giscus_comments %}
    {% include giscus.liquid %}
  {% endif %}
</div>
